*{
    box-sizing: border-box;
    padding : 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
header{
    text-align: right;
    justify-content: center;
    background-color: black;
    width: 100%;
    height: 20%;
    display: flex;
}
nav{
    display: flex;
    justify-content: right;
    align-items: center;

    border-radius: 30px 30px 30px 30px;

    margin-top: 3%;
    margin-bottom: 3%;

    background-color: white;
    width: 80vw;
    height: 8vh;

}
ul{
    list-style:none;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 5%;
}
li{
    margin-right: 18%;
}
a{
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-size: 220%;
    text-decoration: none;
    color: black;
    
}
nav ul li a:hover{

    color: rgb(80, 80, 80);
}
.container1{
    display: flex;
}
.container1 img{
    margin-left: 10%;
    width: 22%;
}
.animate__bounce:hover{
    width: 21%;
}